@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.edit-ticket-container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  margin-left: -140px;
  margin-top: -70px
}

.edit-ticket-box {
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  padding: 2.5rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  border: 1px solid #e0e0e0;
}

.edit-ticket-box h1 {
  font-size: 28px;
  color: #3C5759;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.edit-ticket-box h2 {
  color: #3C5759;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 12px;
  color: #444;
  font-weight: 500;
  text-transform: uppercase;
}

.MuiInputBase-root {
  background-color: #f9f9f9;
  border-radius: 4px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3C5759;
}

.MuiInputLabel-root.Mui-focused {
  color: #3C5759;
}

.save-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 10px;
}

button.MuiButton-contained {
  background-color: #3C5759;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  padding: 0.7rem 1.5rem;
  text-transform: none;
  
}

button.MuiButton-contained:hover {
  background-color: #2a4042;
}

button.MuiButton-outlined {
  text-transform: none;
  border-color: #3C5759;
  color: #3C5759;
  font-weight: 600;
}

button.MuiButton-outlined:hover {
  background-color: rgba(60, 87, 89, 0.04);
  border-color: #2a4042;
  color: #2a4042;
}

