@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  margin-left: 90px;
}

.login-form {
  width: 50%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form form {
  max-width: 450px;
  
  margin-left: 50px;
}

.login-form h1 {
  position: relative;
  color: #3C5759;
  font-size: 27px;
  margin-bottom: 0.5rem;
  padding-left: 40px; 
  display: flex;
  align-items: center;
  font-weight: 500;
}

.login-form h1::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #F9A26C;
  border-radius: 4px;
  transform: rotate(-10deg);
  z-index: 2;
}

.login-form h1::after {
  content: "";
  position: absolute;
  top: 6px;    
  left: 4px;   
  width: 24px;
  height: 24px;
  background-color: #CEEAF7;
  border-radius: 4px;
  transform: rotate(-10deg);
  z-index: 1;
}

.login-form h2 {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.welcome {
  font-size: 15px;
  font-weight: 600;
  color: #3C5759;
  margin-top: 25px;
  margin-bottom: -10px;
}


label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  font-weight: 500;
}

.login-form input {
  margin-bottom: 1rem;
  background-color: #F5F5F5;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}

.login-form button {
  width: 100%;
  padding: 0.875rem;
  background-color: #3C5759;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.login-form button:hover {
  background-color: #2a4042;
}

.login-form .bottom-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
}

.login-form .bottom-text a {
  color: #3C5759;
  font-weight: bold;
  text-decoration: none;
}

.login-form .bottom-text a:hover {
  text-decoration: underline;
}

.login-container::after {
  content: "";
  width: 800px;
  background-color: #3C5759;
  margin-left: 80px;
}


.snackbar {
  visibility: visible;
  min-width: 200px;
  background-color: #a7ebf6;
  color: #000000;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 16px;
  animation: fadein 0.3s, fadeout 0.3s 1.2s;
  
}

@keyframes fadein {
  from { bottom: 0; opacity: 0; }
  to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}